html
  head
    script(type='text/javascript' src='bundle.js' async)
  body
    .grid-container
      header LOOKS LIKE BIOS DOESN'T IT?
      nav
        ul
          li.main
            a(href='#main') Main
          li.work
            a(href='#work') Work
          li.fun
            a(href='#fun') Fun
      main
        section.content
          section#main
          section#work
          section#fun
          section#learn
        section.description
          | INFORMATION
      footer
        span &uarr;&darr;&larr;&rarr; : MOVE
        span &crarr; : FOLLOW LINK
