html
  head
    script(type='text/javascript' src='bundle.js' async)
  body
    .grid-container
      header LOOKS LIKE BIOS DOESN'T IT?
      nav
        ul
          li.main
            a(href='#main') Main
          li.work
            a(href='#work') Work
          li.fun
            a(href='#fun') Fun
          li.learn
            a(href='#learn') Learn
      main
        section.content
          section#main Main
          section#work Work
          section#fun Fun
          section#learn Learn
        section.description
          | INFORMATION
      footer
        span &uarr;&darr;&larr;&rarr; : MOVE
